@using EventfulMVC.Models
@using EventfulMVC.Infrastructure
@model IEnumerable<Event>
@functions {
    private bool _first = true;
}
<div style="text-align: center">
    <h1 style="font-size: 1.2em">
        What's on in Horsham - Upcoming Horsham Events</h1>
</div>
<table>
    <tr>
        <th style="color: white; background-color: #990000; font-weight: bold; text-align: center;
            border-top-style: none; border-left-style: none">
            Venue
        </th>
        <th style="width: 100; color: white; background-color: #990000; font-weight: bold;
            text-align: center; border-top-style: none">
            Title
        </th>
        <th style="color: white; background-color: #990000; font-weight: bold; text-align: center;
            border-top-style: none">
            Description
        </th>
        <th style="color: white; background-color: #990000; font-weight: bold; text-align: center;
            border-top-style: none">
            Date
        </th>
        <th style="color: white; background-color: #990000; font-weight: bold; text-align: center;
            border-top-style: none; border-right-style: none">
            Time
        </th>
        @* <th>
            Url
        </th>*@
    </tr>
    @foreach (Event item in Model)
    {
        string date = item.StartTime.ToString("ddd") + " " + item.StartTime.Day + "<br/>" + item.StartTime.ToString("MMM");
        string time = item.StartTime.ToShortTimeString();
        string image = "";
        string topborder = "";

        if (_first)
        {
            topborder = " border-top-style: none ";
            _first = false;
        }

        if (item.Image != null)
        {
            image = "<img src='" + item.Image + "' alt='" + Html.DisplayFor(modelItem => item.Title) + " at " + Html.DisplayFor(modelItem => item.Venue.Name) + " Horsham' style='float: right;border-color: White; border-width: 5px; border-style: solid' />";
        }

        string url = "";

        if (item.Venue.BranchImageURL != null)
        {
            url = MyHelpers.GetThumb("http://www.visithorsham.co.uk" + VirtualPathUtility.ToAbsolute(item.Venue.BranchImageURL));
        }
        
        
        <tr>
            <td style="color: white; background-color: #990000; font-weight: bold; border-style: none;
                text-align: center; border-bottom-width: 5px; @topborder ">
                @Html.DisplayFor(modelItem => item.Venue.Name)
            </td>
            <td style="width: 100px; @topborder" rowspan="2">
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td style="  @topborder" rowspan="2">
                @Html.Raw(image)
                @Html.Raw(item.Description)
            </td>
            <td style="text-align: center; width: 50px; @topborder" rowspan="2">
                @Html.Raw(date)
            </td>
            <td style="text-align: center; width: 50px; @topborder" rowspan="2">
                @Html.Raw(time)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item, "Link")
            </td>*@
        </tr>
        <tr>
            <td>
                @(item.Venue.Affiliate ? Html.Image(url, "plok", item.Venue.BusinessName) : Html.DisplayFor(modelItem => item.Venue.Name))
            </td>
        </tr>
    }
</table>
<script type="text/javascript">
    $(function () {
        $("#branchsearch").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/home/autocompletebranches",
                    type: "POST",
                    dataType: "json",
                    data: { searchText: request.term, maxResults: 10 },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Label, value: item.Value, id: item.Label };
                        }));
                    }
                });
            },
            select: function (event, ui) {
                window.location.href = 'http://www.visithorsham.co.uk/Business/' + ui.item.value + ".aspx";
            }
        });

    });
    $(function () {
        $("#brandsearch").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/home/autocompletebrand",
                    type: "POST",
                    dataType: "json",
                    data: { searchText: request.term, maxResults: 10 },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Label, value: item.Value, id: item.Label };
                        }));
                    }
                });
            },
            select: function (event, ui) {
                window.location.href = 'http://www.visithorsham.co.uk/SearchResults.aspx?SearchQuery=' + ui.item.label + '&SearchType=Brand';
            }
        });

    });
    $(function () {
        $("#productsearch").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/home/autocompleteproduct",
                    type: "POST",
                    dataType: "json",
                    data: { searchText: request.term, maxResults: 10 },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Label, value: item.Value, id: item.Label };
                        }));
                    }
                });
            },
            select: function (event, ui) {
                window.location.href = 'http://www.visithorsham.co.uk/SearchResults.aspx?SearchQuery=' + ui.item.label + '&SearchType=Product';
            }
        });

    });
</script>
